<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSS_Report_Retrievers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSS_Report_Retrievers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSS_Report_Retrievers.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="SharePointMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="RSS_Report_Retrievers_RSS_ReportingService" serializeAs="String">
                <value>http://localhost/ReportServer/ReportService.asmx</value>
            </setting>
        </RSS_Report_Retrievers.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RSS_Report_Retrievers.Properties.Settings>
            <setting name="RSS_Report_Retrievers_RSS_SP_ReportingService2006"
                serializeAs="String">
                <value>http://intranet/_vti_bin/ReportServer/ReportService2006.asmx</value>
            </setting>
            <setting name="RSS_Report_Retrievers_RSS_2005_ReportingService2005"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportService2005.asmx</value>
            </setting>
        </RSS_Report_Retrievers.Properties.Settings>
    </applicationSettings>
</configuration>