<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RSS_Report_Retrievers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ServerSettings" type="RSS_Report_Retrievers.Classes.ServerSettingsSection, RSS Report Retrievers, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RSS_Report_Retrievers.Properties.Settings>
      <setting name="RSS_Report_Retrievers_RSS_2005_NATIVE_ReportingService"
        serializeAs="String">
        <value>http://localhost/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="RSS_Report_Retrievers_RSS_2000_ReportingService"
        serializeAs="String">
        <value>http://localhost/ReportServer/ReportService.asmx</value>
      </setting>
      <setting name="RSS_Report_Retrievers_RSS_2005_SHAREPOINT_ReportingService2006"
        serializeAs="String">
        <value>http://localhost:8080/ReportServer/ReportService2006.asmx</value>
      </setting>
    </RSS_Report_Retrievers.Properties.Settings>
    <ServerSettings>
      <Servers>
        <add alias="localhost" isSQL2000="false" url="http://localhost/ReportServer_SQL2008/ReportService2005.asmx"
          isSharePointMode="false" reportLibrary="" useWindowsAuth="true"
          windowsDomain="dom1" windowsPwd="pwd1" windowsUsername="u1" />
		  <add alias="sharepoint" isSQL2000="false" url="http://intranet/_vti_bin/ReportServer/ReportService2006.asmx"
          isSharePointMode="true" reportLibrary="http://intranet/SiteDirectory/Rapportage/Rapporten/" useWindowsAuth="true"
          windowsDomain="dom1" windowsPwd="pwd1" windowsUsername="u1" />
        <add alias="SRV-IT-UTV01" isSQL2000="false" url="http://srv-it-utv01/RapportServer/ReportService2005.asmx"
          isSharePointMode="false" reportLibrary="" useWindowsAuth="false"
          windowsDomain="sacoit" windowsPwd="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAnc4LHIgipUmnf69mhTUT9AAAAAACAAAAAAADZgAAqAAAABAAAACTbvgus64c7fFvh1J4HVv8AAAAAASAAACgAAAAEAAAAHNVM6Fh5WP81wnsFdZOGx0YAAAAhVEbHqucpQE82E50upd7tJbmr+ivpnmPFAAAADepxvEBUhweJBE2jbZNAq+g71Jc"
          windowsUsername="saitme" />
        <add alias="SRV-IT-UTV06" isSQL2000="false" url="http://srv-it-utv06/RapportServer/ReportService2005.asmx"
          isSharePointMode="false" reportLibrary="" useWindowsAuth="false"
          windowsDomain="sacoit" windowsPwd="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAnc4LHIgipUmnf69mhTUT9AAAAAACAAAAAAADZgAAqAAAABAAAACTbvgus64c7fFvh1J4HVv8AAAAAASAAACgAAAAEAAAAHNVM6Fh5WP81wnsFdZOGx0YAAAAhVEbHqucpQE82E50upd7tJbmr+ivpnmPFAAAADepxvEBUhweJBE2jbZNAq+g71Jc"
          windowsUsername="saitme" />
      </Servers>
    </ServerSettings>
  </applicationSettings>
</configuration>