<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReportingServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ServerSettings" type="ReportingServerManager.Logic.Configuration.ServerSettingsSection, ReportingServerManager, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReportingServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReportingServerManager.Properties.Settings>
      <setting name="RSS_Report_Retrievers_RSS_2005_NATIVE_ReportingService"
        serializeAs="String">
        <value>http://localhost/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="RSS_Report_Retrievers_RSS_2000_ReportingService"
        serializeAs="String">
        <value>http://localhost/ReportServer/ReportService.asmx</value>
      </setting>
      <setting name="RSS_Report_Retrievers_RSS_2005_SHAREPOINT_ReportingService2006"
        serializeAs="String">
        <value>http://localhost:8080/ReportServer/ReportService2006.asmx</value>
      </setting>
      <setting name="ReportingServerManager_RSS_2008R2_ReportingService2010"
        serializeAs="String">
        <value>http://cl-mgmt3:80/ReportServer_MSSQL2014/ReportService2010.asmx</value>
      </setting>
    </ReportingServerManager.Properties.Settings>
    <ServerSettings>
      <Servers>
        <add alias="AzureDev" SQLServerVersion="2012" url="https://rsdev.canadacentral.cloudapp.azure.com/ReportServer/reportservice2010.asmx"
                isSharePointMode="false" reportLibrary="" useWindowsAuth="false"
                windowsDomain="clouddev001" windowsPwd="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAZCZUyG0Ghk6hW01VGUOB3QAAAAACAAAAAAADZgAAwAAAABAAAABuvNNYlMjuGKsR+faOdV5xAAAAAASAAACgAAAAEAAAAKARQiB3SXUox7aH4n2ptiwgAAAAkaCQoZ9RvdxdwbUhM2dlGOAUvoUt2yEpdh6TbarJdegUAAAAFoYFbSC6XJxidirmnXMW9UBIX+k="
                windowsUsername="sobomsawin" />
      </Servers>
    </ServerSettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <ReportingServerManager.Properties.Settings>
      <setting name="LastSelectedFolder" serializeAs="String">
        <value />
      </setting>
    </ReportingServerManager.Properties.Settings>
  </userSettings>
</configuration>
